{% extends "rest_framework/base.html" %}
{% load i18n %}

{% block title %}Cuaderno Cocina API{% endblock %}

{% block branding %}
    <a class="navbar-brand" href="{% url 'index' %}">Cuaderno Cocina</a>
{% endblock %}

{% block userlinks %}
    <ul class="nav navbar-nav">
        <li>
            <a class="navbar-link" href="{% url 'docs_api' %}">{% trans 'API Documentation' %}</a>
        </li>
        <li>
            <a class='navbar-link' rel="noreferrer nofollow" target="_blank"
               href='https://github.com/NexIA-AI-Web-Solutions/cuaderno-cocina'>
                {% trans 'Código fuente' %}
            </a>
        </li>
    </ul>

    {{ block.super }}

{% endblock %}
